# Options to pass to acpid
#
# OPTIONS are appended to the acpid command-line
#OPTIONS=""
{% if etcdefaults_acpid_options -%}
OPTIONS="{{ etcdefaults_acpid_options }}"
{% endif %}


# Linux kernel modules to load before starting acpid
#
# MODULES is a space separated list of modules to load, or "all" to load all
# acpi drivers, or commented out to load no module
#MODULES="battery ac processor button fan thermal video"
#MODULES="all"
{% if etcdefaults_acpid_modules -%}
MODULES="{{ etcdefaults_acpid_modules }}"
{% endif %}
