# CONFIGURATION FILE FOR SETUPCON

# Consult the console-setup(5) manual page.

ACTIVE_CONSOLES="{{ combined_etcdefaults.console_setup.active_consoles }}"

CHARMAP="{{ combined_etcdefaults.console_setup.charmap }}"

CODESET="{{ combined_etcdefaults.console_setup.codeset }}"
FONTFACE="{{ combined_etcdefaults.console_setup.fontface }}"
FONTSIZE="{{ combined_etcdefaults.console_setup.fontsize }}"

{% if combined_etcdefaults.console_setup.videomode %}
VIDEOMODE="{{ combined_etcdefaults.console_setup.videomode }}"
{% else %}
VIDEOMODE=
{% endif %}

# The following is an example how to use a braille font
# FONT='lat9w-08.psf.gz brl-8x8.psf'
{% if combined_etcdefaults.console_setup.font %}
FONT="{{ combined_etcdefaults.console_setup.font }}"
{% endif %}
