# If you change this file, run 'update-grub' afterwards to update
# /boot/grub/grub.cfg.
# For full documentation of the options in this file, see:
#   info -f grub -n 'Simple configuration'

GRUB_DEFAULT={{ etcdefaults_grub_default }}
GRUB_TIMEOUT={{ etcdefaults_grub_timeout }}
GRUB_DISTRIBUTOR={{ etcdefaults_grub_distributor }}
GRUB_CMDLINE_LINUX_DEFAULT="{{ etcdefaults_grub_cmdline_linux_default }}"
GRUB_CMDLINE_LINUX="{{ etcdefaults_grub_cmdline_linux }}"

# Uncomment to enable BadRAM filtering, modify to suit your needs
# This works with Linux (no patch required) and with any kernel that obtains
# the memory map information from GRUB (GNU Mach, kernel of FreeBSD ...)
#GRUB_BADRAM="0x01234567,0xfefefefe,0x89abcdef,0xefefefef"
{% if etcdefaults_grub_badram %}
GRUB_BADRAM="{{ etcdefaults_grub_badram }}"
{% endif %}

# Uncomment to disable graphical terminal (grub-pc only)
#GRUB_TERMINAL=console
{% if etcdefaults_grub_terminal %}
GRUB_TERMINAL="{{ etcdefaults_grub_terminal }}"
{% endif %}

# The resolution used on graphical terminal
# note that you can use only modes which your graphic card supports via VBE
# you can see them in real GRUB with the command `vbeinfo'
#GRUB_GFXMODE=640x480
{% if etcdefaults_grub_gfxmode %}
GRUB_GFXMODE="{{ etcdefaults_grub_gfxmode }}"
{% endif %}

# Uncomment if you don't want GRUB to pass "root=UUID=xxx" parameter to Linux
#GRUB_DISABLE_LINUX_UUID=true
{% if etcdefaults_grub_disable_linux_uuid %}
GRUB_DISABLE_LINUX_UUID="{{ etcdefaults_grub_disable_linux_uuid }}"
{% endif %}

# Uncomment to disable generation of recovery mode menu entries
#GRUB_DISABLE_RECOVERY="true"
{% if etcdefaults_grub_disable_recovery %}
GRUB_DISABLE_RECOVERY="{{ etcdefaults_grub_disable_recovery }}"
{% endif %}

# Uncomment to get a beep at grub start
#GRUB_INIT_TUNE="480 440 1"
{% if etcdefaults_grub_init_tune %}
GRUB_INIT_TUNE="{{ etcdefaults_grub_init_tune }}"
{% endif %}
