# KEYBOARD CONFIGURATION FILE

# Consult the keyboard(5) manual page.

XKBMODEL="{{ etcdefaults_keyboard_xkbmodel }}"
XKBLAYOUT="{{ etcdefaults_keyboard_xkblayout }}"
XKBVARIANT="{{ etcdefaults_keyboard_xkbvariant }}"
XKBOPTIONS="{{ etcdefaults_keyboard_xkboptions }}"

BACKSPACE="{{ etcdefaults_keyboard_backspace }}"
