# KEYBOARD CONFIGURATION FILE

# Consult the keyboard(5) manual page.

XKBMODEL="{{ combined_etcdefaults.keyboard.xkbmodel }}"
XKBLAYOUT="{{ combined_etcdefaults.keyboard.xkblayout }}"
XKBVARIANT="{{ combined_etcdefaults.keyboard.xkbvariant }}"
XKBOPTIONS="{{ combined_etcdefaults.keyboard.xkboptions }}"

BACKSPACE="{{ combined_etcdefaults.keyboard.backspace }}"
