# KEYBOARD CONFIGURATION FILE

# Consult the keyboard(5) manual page.

XKBMODEL="{{ etcdefaults.keyboard.xkbmodel }}"
XKBLAYOUT="{{ etcdefaults.keyboard.xkblayout }}"
XKBVARIANT="{{ etcdefaults.keyboard.xkbvariant }}"
XKBOPTIONS="{{ etcdefaults.keyboard.xkboptions }}"

BACKSPACE="{{ etcdefaults.keyboard.backspace }}"
